.header {
  display: inline-flex; 
  transform: translate(100px, 70px); 
}

.dash {
  display: flex; 
  transform: translate(150px, -80px); 
}

.notif {
  display: flex; 
  transform: translate(1100px, -70px); 
}

.bell {
  padding: 10px; 
}