.card {
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  width: 400px; 
  height: 300px; 
  flex-wrap: wrap; 
  margin: 60px; 
  padding: 0; 
  transform: translate(200px); 
}

.title {
  margin: 15px; 
  transform: translate(0, -70px); 
}

.description {
  margin: 15px; 
  transform: translate(0, -60px); 
}
