.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 20vh;
}

.cardcontainer {
  display: flex; 
  justify-content: center; 
  margin-top: 20px; 
  margin-right: 20px; 
  margin-bottom: 20px; 
  padding: 0;  
}

